@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root {
    --dark-gray: #3B3B3B;
    --dark-blue: #A5B3FF;
    --light-blue: #E5EEFF;
    --brown: #6C4801;
    --orange:#FFC044;

    --white: #FFFFFF;

    --outer-radius: 1rem;
    --inner-radius: 0.5rem;

    --large-font-size: 1.7rem;
    --medium-font-size: 1.125rem;
    --small-font-size: 1rem;

    --hover-transition: all 0.3s ease-in-out;

    --shadow: 0px 4px 16px rgba(67, 81, 80, 0.1);
}

html{
    scroll-behavior: smooth;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin: 0px 100px;
    column-gap: 20px;
}



.navbar{
    background-color: var(--white);
    padding: 1.5rem 100px;
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    color: var(--copy-green);
    font-weight: bold;
    font-size: var(--large-font-size);
}

.menu{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    text-decoration: none;
    list-style-type: none;
}

.menu-item{
    color: var(--dark-gray);
    font-size: var(--small-font-size);
    text-decoration: none;
}

.menu-item:hover {
    color: var(--primary-green);
    transition: var(--hover-transition);
}


h3 {
    font-size: var(--large-font-size);
    font-weight: bold;
    line-height: 2.75rem;
}

p {
    font-size: var(--small-font-size);
    font-weight: normal;
    line-height: 1.5rem;
    text-align: left;

}



i{
    padding: 0.5rem 0.5rem 0.5rem 0rem;
}

.dark {
    color: var(--copy-green);
}

.gray {
    color: var(--dark-gray);
}

.orange {
    color: var(--copy-orange);
}

.brown {
    color: var(--brown);
}
.login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    padding: 10px;
}

.about-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    padding: 30px;
}
.blue-dots{
    background-image: url("./assets/dots\ hero\ section.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size:auto ;
   
}

.orange-dots{
    background-image: url("./assets/dots/about/section.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size:auto;
    text-align: center;
}
.contact-section {
    margin-top: 100px;
}
.contact-text{
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
    
}
.contact-text button{
    width: 25%;
}

.contact-photos {
    grid-column: 5/12;
}

.photos-background

.login-form p{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.hero-section {
    height: 100vh;
    padding-top: 50px;
}

.hero-image{
    height: 85vh;
    grid-column: 1/13;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 4rem 0rem;
    border-radius: var(--outer-radius);
    background-image: url(./assets/hero-section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}
.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    width: 100%;
}

.search-container{
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: var(--inner-radius);
    box-shadow: var(--shadow);
    width: 80%;
}

input {
    
    width: 100%;
    font-size: var(--normal-font-size);
    transition: var(--hover-transition);
    border-radius: 4px;
    border-color: #98A9FF;
    padding: 1rem;
    
}

label{
    font-size: var(--small-font-size);
}

.no-account{
    display: flex;
    justify-content: space-between;

}



button{
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: var(--inner-radius);
    cursor: pointer;
    flex-shrink: 0;
}


.orange-button {
    background-color: var(--orange);
    border-radius: 4px;
    padding: 15px;
}


.login-section {
    min-height: 100vh;
    height: auto;
    padding: 50px 0px;
    align-items: center;
}

.login-text {
    grid-column: 2/6;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;

}


.about-text {
    grid-column: 4/10;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;

}

.about-panels {
    padding-top: 100px ;
    padding-bottom: 100px;
    grid-column: 1/13;
    margin-top: 20px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    
    background-color: #FFF8E4;
}



.login-text > button {
    align-self: flex-start;
}

.login-image{
    grid-column: 7/13;
    width: 80%;
    align-self: center;
    justify-self: center;
}

.destinations-section{
    grid-template-rows: 0.2fr repeat(3,1fr);
    background-color: var(--secondary-orange);
    margin: 0;
    padding:  100px 100px;
    height: auto;
    row-gap: 20px;
}

.destinations-text{
    grid-area: 1/1/2/13;
    justify-self: center;
}

.card{
    display: flex;
    background-color: var(--white);
    border-radius: var(--outer-radius);
    padding: 3rem 2rem;
    justify-content: center;
    
}


.card-title{
    font-size: var(--medium-font-size);
    text-align: center;
    
}
.card[mode="horizontal"]{
    flex-direction: row;
    column-gap: 1rem;
}

.card[mode="vertical"]{
    flex-direction: column;
    row-gap: 1rem;
}

.destination-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: var(--inner-radius);
}

.destination-image-container[mode="vertical"]{
    height: 250px;
    width: 100%;
}

.destination-image-container[mode="horizontal"]{
    width: 110px;
    flex-shrink: 0;
    height: 100%;
}

.destination-image{
    max-width: 100%;
    object-fit: cover;
}
.destination-image[mode="horizontal"]{
    height: 100%;
}

.destination-content{
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    flex: 1 1;
    justify-content: space-between;
}

.destination-card-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.destination-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: flex-end;
}

.card:hover{
    box-shadow: var(--shadow);
    transition: var(--hover-transition);
}

.card:hover .destination-image, .card:hover .review-image{
    transform: scale(1.05);
    transition: var(--hover-transition);
}

.card:nth-of-type(1){
    grid-area: 1/2/2/7;
}
.card:nth-of-type(2){
    grid-area: 1/7/2/12;
}
.card:nth-of-type(3){
    grid-area: 2/2/3/7;
}
.card:nth-of-type(4){
    grid-area: 2/7/3/12;
}

.card[type="destination"]:nth-of-type(1) {
    grid-area: 2/1/4/5;
}
.card[type="destination"]:nth-of-type(2) {
    grid-area: 4/1/5/5;
}
.card[type="destination"]:nth-of-type(3) {
    grid-area: 2/5/3/9;
}
.card[type="destination"]:nth-of-type(4) {
    grid-area: 3/5/4/9;
}
.card[type="destination"]:nth-of-type(5) {
    grid-area: 4/5/5/9;
}
.card[type="destination"]:nth-of-type(6) {
    grid-area: 2/9/3/13;
}
.card[type="destination"]:nth-of-type(7) {
    grid-area: 3/9/5/13;
}

.reviews-section{
    min-height: 100vh;
    height: auto;
    padding: 100px 0px;
}

.reviews-section > h3{
    grid-column: 1/10;
    padding-bottom: 50px;
}

.card[type="review"]{
    box-shadow: var(--shadow);
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    flex: 1;
}

.card[type="review"]:nth-of-type(1) {
    grid-column: 1/4;
}
.card[type="review"]:nth-of-type(2) {
    grid-column: 4/7;
}
.card[type="review"]:nth-of-type(3) {
    grid-column: 7/10;
}
.card[type="review"]:nth-of-type(4) {
    grid-column: 10/13;
}

.review-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    overflow: hidden;
    border-radius: var(--inner-radius);
}

.review-image{
    max-width: 100%;
    object-fit: cover;
}


.footer-section{
    height: auto;
    padding: 100px 0px;
    row-gap: 2rem;
}

.contact-details-container{
    background-color: var(--secondary-orange);
    border-radius: var(--outer-radius);
    grid-column: 1/13;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    row-gap: 2rem;
}
.contact-details{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    text-decoration: none;
    list-style-type: none;
    color: var(--copy-orange);
}

.footer-image{
    grid-column: 3/11;
    height: 250px;
    border-radius: var(--outer-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-top: -175px;
}

.footer-image>img{
    max-width: 100%;
    margin-top: -150px;
}
.footer-section>.logo{
    grid-column: 1/13;
    align-self: center;
    justify-self: center;
}
.footer-text{
        text-align: center;
    }

